/* About.css */
.about {
    margin-top: 70px;
    width:150%;
    height: 50vh; /* Adjusted for flexibility */
    padding: 20px;
    background-color: rgb(240, 240, 240);
    text-align:justify;
    border-radius: 60px;
    margin-left: 60px;
  }
  
  
  .about h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .about p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  /* Slide-in effect */
  .slide-in {
    opacity: 0;
    transform: translateX(-50px);
    animation: slideIn 0.8s forwards;
  }
  
  @keyframes slideIn {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /* Scale-up effect */
  .scale-up {
    opacity: 0;
    transform: scale(0.8);
    animation: scaleUp 0.5s forwards;
  }
  
  @keyframes scaleUp {
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .about h2 {
    font-size: 2rem;
    margin-top: 30px;
  }
  